


<div class="container mt-5 pt-5">
    <div class="row mx-0 mb-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row mx-0">
                <div class="col-4 overflow-images" style="overflow-y: scroll;height: 586px;">
                    <div class="row mx-0 mb-2" *ngFor="let itemPictures of ItemModel.ItemPictures">
                        <img (click)="zoomImage = itemPictures.ImageURL" 
                             [src]="api_url + itemPictures.ImageURL" alt="Card image cap">
                    </div>
                </div>
                <div class="col-8 p-relative" (click)="imageSection($event,1)">
                    <img [gallerize] *ngIf="zoomImage != undefined" id="imgZoom" 
                    (click)="lightbox.open(0, 'lightbox', {panelClass: 'fullscreen'})"
                    style="height: 586px;
                    width: 100%;
                    object-fit: contain;" [src]="api_url + zoomImage">
                    <!-- (mousemove)="zoomIn($event)" 
                    (mouseout)="zoomOut()" -->
                    <!-- <div id="overlay"></div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">

        </div>
    </div>
</div>
