#overlay {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    //background-image: url('../../../../assets/images/png/WhatsApp Image 2022-09-01 at 1.57.37 PM (3) - Copy - Copy.jpeg');
    background-repeat: no-repeat;
  }