<div class="container mt-5 pt-5 height">
  <div class="row mx-0 mb-5">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="row mx-0">
        <div
          class="col-12 px-0 p-relative card-primary-image-container cursor"
          (click)="imageSection($event, 1)"
        >
          <div class="row mx-0">
            <div class="col-2 px-0" style="overflow-y: auto; height: 520px;">
              <div

                class="side-image-container" width="32" height="32"
                *ngFor="let itemPictures of ItemModel.ItemPictures"
              >
                <img
                  [ngClass]="itemPictures.ImageURL == zoomImage ? 'border-secondary' : ''"
                  class="side-image"
                  (click)="zoomImage = itemPictures.ImageURL"
                  [src]="api_url + itemPictures.ImageURL"
                  alt="Card image cap"
                />
              </div>
            </div>
            <div class="col-10 px-0 text-center">
              <img
                [gallerize]
                *ngIf="zoomImage != undefined"
                id="imgZoom"
                (click)="
                  lightbox.open(0, 'lightbox', { panelClass: 'fullscreen' })
                "
                [src]="api_url + zoomImage"
                class="card-primary-image"
              />
            </div>
          </div>
          <!-- (mousemove)="zoomIn($event)"
                    (mouseout)="zoomOut()" -->
          <!-- <div id="overlay"></div> -->
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <p>{{ItemModel.Item.Title}}</p>
      <p class="card-text font-16 secondary-color font-w-bold">
        Rs.{{
          ItemModel.Item.DiscountedPrice != undefined
            ? ItemModel.Item.DiscountedPrice
            : ItemModel.Item.Price
        }}
        <span
          *ngIf="ItemModel.Item.DiscountedPrice != undefined"
          class="line-through gray"
          >Rs.{{ ItemModel.Item.Price }}</span
        >
      </p>
    </div>
    <div class="col-12">
        <img [src]="api_url + ItemModel.Item.DescriptionChartImage" alt="" srcset="">
    </div>
  </div>

</div>
