#overlay {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.card-img-size{
  width: 200px;
  height: 200px;
}

.overflow-images::-webkit-scrollbar {
  width: 12px;
}