<div class="container-fluid py-5 my-3">
  <div class="row mx-0">
    <div class="col-12">
      <div class="d-flex justify-content-between bg-gray p-2">
        <div class="align-self-center font-18 font-w-500">Add Item</div>
      </div>
      <div class="row mx-0 rr mt-4 justify-content-center">
        <div>
          <input
            class="upload-image-relative"
            id="file_upload"
            #modelImageUpload
            multiple
            type="file"
            accept="image/gif,image/jpeg,image/*,image/png"
            (change)="uploadFiles($event, ObjectTypeID)"
          />
        </div>
        <i class="fa fa-camera upload-image-absolute" aria-hidden="true"></i>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4">
          <ng-container *ngIf="ItemViewModel.ItemPictures.length > 0">
            <div class="row mx-0 mb-3">
              <ng-container *ngFor="let img of ItemViewModel.ItemPictures">
                <div  class="col-sm-12 col-md-4 col-lg-3 cursor" (click)="primaryImage(img)">
                  <div>
                    <img
                      [ngClass]="img.IsPrimary == true ? 'isprimary' : ''"
                      [src]="_sharedService.baseURL + img.ImageURL"
                      class="document-img my-2"
                    />
                  </div>
                  <i class="fa fa-times-circle remove-icon cursor" (click)="removeImage(img)" aria-hidden="true"></i>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-8 mb-4">
          <form
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
          >
            <div class="form-group">
              <label>Title</label>
              <input
                appBlockCopyPaste
                type="text"
                name="Title"
                class="form-control"
                [(ngModel)]="ItemViewModel.Item.Title"
                #Title="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && Title.invalid }"
                required
              />
              <div
                *ngIf="f.submitted && Title.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="Title.errors.required">Title is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Price</label>
              <input
                appBlockCopyPaste 
                type="char"
                name="Price"
                class="form-control"
                [(ngModel)]="ItemViewModel.Item.Price"
                #Price="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && Price.invalid }"
                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode != 47 
                            && event.charCode <= 57"
                required
              />
              <div
                *ngIf="f.submitted && Price.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="Price.errors.required">Price is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Discount</label>
              <input
                appBlockCopyPaste
                type="char"
                name="Discount"
                class="form-control"
                [(ngModel)]="ItemViewModel.Item.DiscountedPrice"
                #Discount="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && Discount.invalid }"
                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode != 47 
                            && event.charCode <= 57"
                required
              />
              <div
                *ngIf="f.submitted && Discount.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="Discount.errors.required">Discount is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Product Code</label>
              <input
                appBlockCopyPaste
                type="text"
                name="ProductCode"
                class="form-control"
                [(ngModel)]="ItemViewModel.Item.ProductCode"
                #ProductCode="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && ProductCode.invalid }"
                required
              />
              <div
                *ngIf="f.submitted && ProductCode.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="ProductCode.errors.required">
                  Product Code is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Quantity</label>
              <input
                appBlockCopyPaste
                type="char"
                name="Quantity"
                class="form-control"
                [(ngModel)]="ItemViewModel.Item.Quantity"
                #Quantity="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && Quantity.invalid }"
                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 46 && event.charCode != 47 
                            && event.charCode <= 57"
                required
              />
              <div
                *ngIf="f.submitted && Quantity.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="Quantity.errors.required">Quantity is required</div>
              </div>
            </div>
            <div class="row mx-0 my-5">
              <label class="font-22 mb-3">Gender</label>
              <div class="form-check col-6">
                <input
                  class="form-check-input cursor"
                  type="radio"
                  (change)="
                    ItemViewModel.Item.GenderTypeId = 4; isGender = true
                  "
                  [checked]="ItemViewModel.Item.GenderTypeId == 4"
                  name="exampleRadios"
                  id="Women"
                  value="4"
                  checked
                />
                <label class="form-check-label cursor" for="Women">
                  Women
                </label>
              </div>
              <div class="form-check col-6">
                <input
                  class="form-check-input cursor"
                  type="radio"
                  (change)="
                    ItemViewModel.Item.GenderTypeId = 5; isGender = true
                  "
                  [checked]="ItemViewModel.Item.GenderTypeId == 5"
                  name="exampleRadios"
                  id="Girls"
                  value="5"
                />
                <label class="form-check-label cursor" for="Girls">
                  Girls
                </label>
              </div>
              <div *ngIf="isGender == false" class="error">
                Select atleast one gender
              </div>
            </div>
            <div class="row mx-0 my-5">
              <label class="font-22 mb-3">Stitch or UnStitch</label>
              <div class="form-check col-6">
                <input
                  class="form-check-input cursor"
                  type="radio"
                  (change)="
                    ItemViewModel.Item.StitchTypeId = 6; isStitched = true
                  "
                  [checked]="ItemViewModel.Item.StitchTypeId == 6"
                  name="exampleRadios1"
                  id="Stitch"
                  value="6"
                  checked
                />
                <label class="form-check-label cursor" for="Stitch">
                  Stitch
                </label>
              </div>
              <div class="form-check col-6">
                <input
                  class="form-check-input cursor"
                  type="radio"
                  (change)="
                    ItemViewModel.Item.StitchTypeId = 7; isStitched = true
                  "
                  [checked]="ItemViewModel.Item.StitchTypeId == 7"
                  name="exampleRadios1"
                  id="UnStitch"
                  value="7"
                />
                <label class="form-check-label cursor" for="UnStitch">
                  UnStitch
                </label>
              </div>
              <div *ngIf="isStitched == false" class="error">
                Select atleast one type
              </div>
            </div>
            <div class="row mx-0 my-5">
              <label class="font-22 mb-3">Piece</label>
              <div class="form-check col-4">
                <input
                  class="form-check-input cursor"
                  type="radio"
                  (change)="
                    ItemViewModel.Item.NumberOfPiece = 8; isNumberOfPiece = true
                  "
                  [checked]="ItemViewModel.Item.NumberOfPiece == 8"
                  name="exampleRadios2"
                  id="2Piece"
                  value="8"
                  checked
                />
                <label class="form-check-label cursor" for="2Piece">
                  2 Piece
                </label>
              </div>
              <div class="form-check col-4">
                <input
                  class="form-check-input cursor"
                  type="radio"
                  (change)="
                    ItemViewModel.Item.NumberOfPiece = 9; isNumberOfPiece = true
                  "
                  [checked]="ItemViewModel.Item.NumberOfPiece == 9"
                  name="exampleRadios2"
                  id="3Piece"
                  value="9"
                />
                <label class="form-check-label cursor" for="3Piece">
                  3 Piece
                </label>
              </div>
              <div class="form-check col-4">
                <input
                  class="form-check-input cursor"
                  type="radio"
                  (change)="
                    ItemViewModel.Item.NumberOfPiece = 10;
                    isNumberOfPiece = true
                  "
                  [checked]="ItemViewModel.Item.NumberOfPiece == 10"
                  name="exampleRadios2"
                  id="4Piece"
                  value="10"
                />
                <label class="form-check-label cursor" for="4Piece">
                  1 Piece
                </label>
              </div>
              <div *ngIf="isNumberOfPiece == false" class="error">
                Select atleast one number of piece
              </div>
            </div>
            <div class="row mx-0 my-5">
              <label class="font-22 mb-3">Sale</label>
              <div class="form-check col-6">
                <input
                  class="form-check-input cursor"
                  type="checkbox"
                  (change)="
                  ItemViewModel.Item.IsSale = !ItemViewModel.Item.IsSale"
                  [checked]="ItemViewModel.Item.IsSale == true"
                  name="exampleRadios"
                  id="IsSale"
                  value="4"
                  checked
                />
                <label class="form-check-label cursor" for="IsSale">
                  IsSale
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>Color Code</label>
              <div class="row mx-0">
                <ng-container *ngFor="let item of colorCode">
                  <div class="col-auto mb-2 px-1">
                    <button
                      type="button"
                      id="{{ item.name }}"
                      class="color-code"
                      placement="top"
                      (click)="checkedColorCode(item.code)"
                      [ngbTooltip]="item.name"
                      [ngStyle]="{ 'background-color': item.code }"
                    ></button>
                    <i
                      *ngIf="item.isChecked == true"
                      class="fa fa-check checked"
                      aria-hidden="true"
                    ></i>
                  </div>
                </ng-container>
              </div>
              <div *ngIf="!isColored" class="error">Select color code</div>
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea
                class="form-control"
                cols="30"
                rows="5"
                type="text"
                id="Description"
                name="Description"
                [(ngModel)]="ItemViewModel.Item.ItemDescription"
                #Description="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && Quantity.invalid }"
                required
              ></textarea>
              <div
                *ngIf="f.submitted && Description.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="Description.errors.required">
                  Description is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Disclaimer</label>
              <textarea
                class="form-control"
                type="text"
                id="Disclaimer"
                name="Disclaimer"
                [(ngModel)]="ItemViewModel.Item.Disclaimer"
                #Disclaimer="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && Quantity.invalid }"
                required
              ></textarea>
              <div
                *ngIf="f.submitted && Disclaimer.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="Disclaimer.errors.required">
                  Disclaimer is required
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="btn-main-primary mr-1" (click)="checkCode()">
                SaveItem
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
