.color-code{
    height: 20px;
    width: 20px;
    border: 1px solid;
    border-radius: 50%;
}
.checked{
    position: absolute;
    top: -3px;
    right: 0;
    left: auto;
}
.document-img {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid white;
}
.upload-image-relative{
    // position: relative;
    width: 38px;
    opacity: 0;
    z-index: 10;
}
.upload-image-absolute{
    position: absolute;
    font-size: 31px;
    left: 0;
    width: 50px;
    z-index: -1;
}
.remove-icon{
    position: absolute;
    top: 0;
    right: 12px;
    color: #dc3545;
}
.isprimary{
    border: 5px solid #dc3545;
}
.isSecondary{
    border: 5px solid #244870;
}