.plus-icon{
    font-size: 40px;
    color: red;
}
.list-card-icon{
    height: 80px;
      width: 80px;
      border-radius: 50%;
  }
  .text-style {
    text-decoration: line-through;
  }
  .b-none{
    border: none;
  }
  .zoom:hover{
    transform: scale(1.01);
  }