<div class="container-fluid py-5 my-3">
  <div class="row mx-0">
    <div class="col-12">
      <div class="d-flex justify-content-between bg-gray p-2">
        <div class="align-self-center font-18 font-w-500">Items</div>
        <i
          [routerLink]="['/admin/add-item/']"
          class="fa fa-plus-circle plus-icon cursor"
          aria-hidden="true"
        ></i>
      </div>
    </div>
  </div>
  <div class="row mx-0 mt-3">
    <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="ProductCode" placeholder="Search by Product Code" 
        aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-success" type="button" 
        (click)="PageNo = 1;ItemId = undefined;GetItem()">Search</button>
      </div>
    </div>
  </div>
  <div class="row mx-0 mt-3">
    <ng-container *ngFor="let item of ItemModel.Items |  paginate: { itemsPerPage: 8, totalItems:ItemModel.TotalItems , currentPage: PageNo }; let idx = index">
      <ng-container
        *ngFor="
          let itemPictures of ItemModel.ItemPictures
            | filter: item.ItemId:'ItemId'
            | filter: 1:'IsPrimary'
        "
      >
        <div class="col-12 mb-2 zoom cursor">
          <div class="card p-2 shadow-sm b-none">
            <div class="card-body p-0 row mx-0">
              <div class="col-10 p-0 d-flex">
                <img
                  class="card-img-top list-card-icon"
                  [src]="api_url + itemPictures.ImageURL"
                />
                <div class="ml-2">
                  <h5 class="card-title mb-0">{{item.Title}}</h5>
                  <p class="mb-0 card-text font-16 secondary-color font-w-bold">
                    Rs.{{
                      item.DiscountedPrice != undefined
                        ? item.DiscountedPrice
                        : item.Price
                    }}
                    <span
                      *ngIf="item.DiscountedPrice != undefined"
                      class="line-through gray"
                      >Rs.{{ item.Price }}</span
                    >
                  </p>
                  <p class="mb-0">{{item.ProductCode}}</p>
                </div>
              </div>
              <div class="col-2 p-0 d-flex justify-content-end">
                <i class="fas fa-edit mr-2 cursor" [routerLink]="['/admin/edit-item']"
                [queryParams]="{ queryParam: item.ItemId }"></i> <br />
                <i (click)="openModal(content,item.ProductCode,item.ItemId)" class="fas fa-trash mr-2 cursor"></i>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <pagination-controls *ngIf="ItemModel.TotalItems > 8 " class="pagination" style="cursor: pointer;" 
    (pageChange)="PageNo = $event;GetItem()">
  </pagination-controls>
</div>
<ng-template #content let-modal>
  <div class="modal-body p-relative">
    <div class="mb-4 d-flex align-items-center justify-content-center gap-2">
      <i class="fa fa-exclamation-circle error" aria-hidden="true"></i>
      <p class="mb-0 text-center font-w-500">Are you sure you want to delete this Item <span>({{ProductCodeDelete}})</span></p>
    </div>
    <div class="d-flex justify-content-between" style="padding: 0px 3rem;">
      <button type="button" class="btnCustom btnCancel" (click)="closeModel()">cancel</button>
      <button type="button" class="btn-main-primary" (click)="DeleteItem()">Delete</button>
    </div>
    <i class="fa fa-times model-closeIcon font-20 cursor" (click)="closeModel()" aria-hidden="true"></i>
  </div>
</ng-template>