<div class="wrapper">
    <owl-carousel-o [options]="customOptions">
  
      <ng-container *ngFor="let slide of apiData">
        <ng-template class="slide" carouselSlide [id]="slide.id">
          <img class="carousel-img" style="object-fit: cover; height: 400px;" [src]="slide.url" [alt]="slide.id" >
        </ng-template>
      </ng-container>
  
    </owl-carousel-o>  
</div>

<div class="row mr-5 mt-5">
  <div class="col-12 text-center"> 
      <div class="qaaf-box display-inline"><h5>QAAF</h5></div>
      <div class="new-box display-inline"><h5>NEW PRODUCTS</h5></div>

  </div>
</div>
<div class="container-fluid mt-5">
  <div class="row mx-0">
    <ng-container *ngFor="let item of ItemModel.Items">
      <ng-container *ngFor="let itemPictures of ItemModel.ItemPictures | filter : item.ItemId : 'ItemId' | filter : 1 : 'IsPrimary'">
        <div class="col-lg-3 col-md-4 col-sm-12 col-12 mb-4 px-4">
          <div class="card b-shadow c-border">
            <div class="card-header b-zero p-0">
              <div class="p-relative pt-100">
                <img class="card-img" [src]="api_url + itemPictures.ImageURL" alt="Card image cap">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">BLENCOT Womens Casual Floral Deep V Neck Long Sleeve Long Evening Dress Cocktail Party Maxi</h5>
              <p class="card-text">$48.98</p>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

