<nav class="navbar nav1-heigh navbar-expand-lg navbar-light bg-light">
    <div class="navbar navbar-expand ml-auto pr-4">Delivery within a Week</div>
</nav>



<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-links-position">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#new-arrival">New Arrival</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sale">Sale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#women">Women</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#girls">Girls</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#unstitched">Unstitched</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#stitched">Stitched</a>
          </li>
      </ul>
    </div>
  </nav>