


.nav1-heigh {
    height: 4rem;
}
.nav-links-position{
    margin: auto;

}
.nav-links-position li a{
    font-size: 18px;
    font-weight: 500;
    padding-right: 1.5rem;
    margin: auto 1rem auto 1rem;
   }
