.main-container{
margin: 0;
}
.bg-img{
    background: url('../../../../assets/images/jpg/log-in\ backgroung.jpg') no-repeat center center/cover;
    height: 100vh;
}
.form-border{
    border: 5px solid #ed3237;
    border-radius: 10%;
}
.input-box input{
    background: rgb(248, 248, 248);
    width: 100%;
    display: block;
    margin: 20px auto;
    padding: 10px 16px;
    border-radius: 15px;
    border: 2px solid #ed3237;
}
.login-button{
    background: #ed3237;
    border: #ed3237;
    color: white;
    width: 100%;
    display: block;
    margin: 15px auto;
    padding: 10px 16px;
    border-radius: 15px;
}
.eye-icon{
    position: absolute;
    left: auto;
    right: 13px;
    bottom: 0;
    top: 16px;
}
.hide {
    display: none;
  }
.inner-addon .far, .inner-addon .fas {
    position: absolute;
    padding: 16px 30px;
    z-index: 100;
    cursor: pointer;
}
.login-txt {
    font-family: cursive; 
    color: #244870;
}
.left-addon .far, .left-addon .fas  { left:  0px; }
.right-addon .far, .right-addon .fas { right: 0px; }

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

@media only screen and (max-width: 600px) {
    .bg-img{
        background: transparent;
        background-image: linear-gradient(to right, #1164c1 2%, #ed3237 127%);
    }
    .form-border{
        border: unset;
    }
    .login-txt{
        color: white; 
    }
}