<footer class="mainfooter footer-position" role="contentinfo">
    <div class="footer-middle">
    <div class="">
      <div class="row mx-0">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>About Us</h4>
            <ul class="list-unstyled">
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->

        </div>
          <div class="col-md-3">
              <h4>Follow Us</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-face-angry" aria-hidden="true"></i></a></li>
              </ul>				
          </div>
      </div>
      <hr>
      <div class="row mx-0">
          <div class="col-md-12">
              <p class="text-center">&copy; Copyright 2022 - Qaaf.  All rights reserved.</p>
          </div>
      </div>
  
  
    </div>
    </div>
  </footer>
 